@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.courses-container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #212426, #17151C);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Content styles */
.content-wrapper {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.page-header {
    margin-top: 6.5rem;
    margin-bottom: 3rem;
    top: 120px;
    z-index: 2;
}

.sticky {
    position: sticky;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
}

/* Courses list */
.courses-list-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
}

.course-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    cursor: pointer;
}

.course-card:hover {
    background: rgba(255, 255, 255, 0.1);
}

.course-info {
    flex: 1;
}

.course-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.course-date {
    font-size: 14px;
    color: #aaa;
}

.course-image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Add button */
.add-course-container {
    position: fixed;
    width: fit-content;
    bottom: -100px; /* Начальная позиция за пределами экрана */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 50px;
    transition: bottom 0.3s ease;
    backdrop-filter: blur(5px);
}

.add-course-container.visible {
    bottom: 2.5rem;
}

.add-button {
    padding: 1rem 2rem;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    max-width: fit-content;
}

.add-button:hover {
    background: #FFFFFF;
    color: #17151C;
}

/* Media queries */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 0 1rem;
    }

    .page-title {
        font-size: 28px;
    }

    .courses-header {
        top: 120px; /* Учитываем высоту мобильного хедера */
    }

    .add-course-container {
        /* width: calc(100% - 2rem); */
        display: flex;
        justify-content: center;
    }

    .add-course-button {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .course-card {
        flex-direction: column;
    }
    
    .course-image {
        margin-top: 1rem;
        align-self: center;
    }
    
    .course-image img {
        width: 60px;
        height: 60px;
    }
} 